* {
    border: 1px solid rgba(96, 95, 95, .5);
}

body {
    background-color: rgb(215, 252, 240);
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    width: 300px;
}