.view {
    border: 1px solid green;
}


/* FORMS */

form {
    border: 1px solid blue;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative;
}

form input,
form select,
form textarea {
    background-color: rgba(222, 222, 222, 0.7);
    color: rgb(65, 65, 65);
    margin-bottom: 10px;
    text-align: center;
    border: none;
    border-radius: 1rem;
    width: 60%;
    padding: 10px;
}

form button {
    background-color: rgb(49, 186, 3);
    width: 100px;
    border: none;
    border-radius: 1rem;
    margin-top: 10px;
    padding: 5px;
}


/* SEARCH BAR */

.searchBar {
    width: 40%;
    overflow: hidden;
}

.searchBar input {
    width: 100%;
    padding: 5px;
    font-size: 1.5rem;
}

body {
    background-color: rgb(254, 251, 246);
}

img {
    width: 30%;
}

.viewimgl {
    width: 1000px;
    height: 110px;
    z-index: -1;
    border: none;
    position: absolute;
}

.viewimgl {
    animation: 10s linear 0s infinite normal none running toleft;
}

@keyframes toleft {
    0% {
        transform: translate(10vw);
    }
    100% {
        transform: translate(-10vw);
    }
}

.hidden {
    display: none;
}